
  <ul class="nav nav-tabs">
    <li class="active"><%= link_to("Hostings", profile_path(type: "host"))  %></li>
    <li><%= link_to("Attending", profile_path(type: "guest"))  %></li>
  </ul>


<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col" >Title</th>
        <th scope="col" >Location</th>
        <th scope="col" >Start time</th>
        <th scope="col" >End time</th>
        <th scope="col" >Game</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  <tbody>
    <% @meetups.each do |meetup| %>
      <tr>
        <td><%= meetup.title %></td>
        <td><%= meetup.location %></td>
        <td><%= meetup.start_time %></td>
        <td><%= meetup.end_time %></td>
        <td><%= meetup.game.name %></td>
      </tr>
     <% end %>
  </tbody>
</table>



