<h2>Hey <%= current_user.email.split("@")[0].capitalize %> !</h1>


<div class="container-fluid">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Hosting</a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Attending</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
      <div class="table100 ver4 m-b-110">
        <div class="table100-head">
        <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col" >Title</th>
          <th scope="col" >Game</th>
          <th scope="col" >Antendees</th>
          <th colspan="3"></th>
        </tr>
      </thead>
  <tbody>
    <% @meetups.each do |meetup| %>
      <tr>
        <td><%= link_to meetup.title, meetup_path(meetup) %></td>
        <td><%= meetup.game.name %></td>
           <td>
          <ul class="list-inline">
            <% meetup.guests.first(4).each do |guest|  %>
              <li>
                <%= link_to user_profile_path(guest.user) do  %>
                  <%= image_tag guest.user.imagelink, class: "avatar" %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </td>
          <td class="profilebutton">Edit Attendees</td>
          <td class="profilebutton">Contact Buddies</td>

<!--         <td><%= meetup.start_time %></td>
        <td><%= meetup.end_time %></td>
        <td>#meetup status</td> -->


        <!-- <% if @host %> -->
          <!-- <td> <%= meetup.guests.size %> <%= "Guest".pluralize(meetup.guests.size) %></td> -->
        <!-- <% else %> -->
          <!-- <td><%= meetup.guests.find_by(user:current_user).current_status %></td> -->
        <!-- <% end %> -->

      </tr>
     <% end %>
  </tbody>
</table>
    </div>

    <div role="tabpanel" class="tab-pane" id="profile">

    </div>
  </div>

</div>




