
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form-post">
        <h1>Start a Hangout!</h1>
        <%= simple_form_for Meetup.new do |f| %>
          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
          <div class="form-inputs">
            <%= f.input :title, placeholder: "Pick a hangout name" %>
            <%= f.input :location, placeholder: "Pick your location" %>
            <%= select_tag(:platform_id, options_from_collection_for_select(platforms, :id, :name),id: "js-platforms") %>
            <!-- <%#= f.association :game, prompt: "Pick your game!" %> -->
            <input name="meetup[game_name]"" id="test">
            <div class="form-actions">
              <%= f.button :submit, class: "btn btn-success" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
