<%= form_tag meetups_path, method: :get do %>
  <div class="row">
    <div class='col-sm-6'>
        <div class="form-group">
            <div class='input-group date' id='datetimepicker1'>
                <input name="start_date" type='text' class="form-control" value="<%= params[:start_date] %>" placeholder="from"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
    <div class='col-sm-6'>
        <div class="form-group">
            <div class='input-group date' id='datetimepicker2'>
                <input name="end_date" type='text' class="form-control" value="<%= params[:end_date] %>" placeholder="until"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="input-group bootstrap-timepicker timepicker form-group">
        <input name="start_time" id="timepicker1" type="text" value="" class="form-control input-small" placeholder="from">
        <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
      </div>
    </div>
    <div class="col-sm-6">
     <div class="input-group bootstrap-timepicker timepicker form-group">
      <input name="end_time" id="timepicker2" type="text" value="" class="form-control input-small" placeholder="until">
      <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
     </div>
    </div>
  </div>
  <select class="js-example-basic-single platform_button" name="platform_id">
    <option value="">Platforms</option>
    <% Platform.all.each do |platform| %>
      <option value="<%= platform.id %>">
      <%= platform.name %>
      </option>
    <% end %>
  </select>
  <hr>
  <center>
    <%= submit_tag "Search", class: "rever_button filter_button" %>
  </center>
<!-- </div>
</div> -->
<% end %>
