
<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Hangout in your Area</h1>
  <%= form_tag meetups_path, method: :get do %>
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input name="start_date" type='text' class="form-control" value="<%= params[:start_date] %>" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker2'>
                    <input name="end_date" type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
      </div>

        <div clas="row">
          <div class="input-group bootstrap-timepicker timepicker col-sm-4 form-group">
            <input name="start_time" id="timepicker1" type="text" value="" class="form-control input-small">
            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
          </div>

           <div class="input-group bootstrap-timepicker timepicker col-sm-4 form-group">
            <input name="end_time" id="timepicker2" type="text" value="" class="form-control input-small">
            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
           </div>
        </div>

        <select class="js-example-basic-single" name="platform_id">
          <option value="">Platforms</option>
          <% Platform.all.each do |platform| %>
            <option value="<%= platform.id %>">
              <%= platform.name %>
            </option>
          <% end %>
          </select>
    </div>
</div>
    <%= submit_tag %>
  <% end %>
  <div>
    <p><center>You have <%= pluralize(@meetups.count, "hangout") %> in your area.</center</p>
  </div>
    <div class="row">
      <% @meetups.each do |meetup| %>
        <div class="col-xs-3">
          <%= render "shared/cards", meetup: meetup %>
        </div>
      <% end %>
    </div>
  <br>
  <a class="button btn btn-success" href="meetups/new" >New Meetup</a>


</div>

<div>

</div>
