
<div class="container">
  <p id="notice"><%= notice %></p>

  <h1>Hangout in your Area</h1>
  <%= form_tag meetups_path, method: :get do %>
    <%= text_field_tag :start_time %>
    <%= text_field_tag :end_time %>
    <%= submit_tag %>
  <% end %>
    <div class="row">
      <% @meetups.each do |meetup| %>
        <div class="col-xs-3">
          <%= render "shared/cards", meetup: meetup %>
        </div>
      <% end %>
    </div>
  <br>
  <a class="button btn btn-success" href="meetups/new" >New Meetup</a>


</div>

<div>

</div>


