<div class="banner" style="background-image: url(<%= asset_path("room1.png") %>)">
</div>

<div class="container text-center">
  <div class="row">
    <div class="col-md-6">
      <h2 class="text-left body-font">Name of the event</h2>
      <p class="text-left">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen.</p>
      <div class="event-detail">
        <%= image_tag("gamepad-solid.svg", class: "h-1", class: "h-1") %>
        <h4>Name of console</h4>
      </div>
      <div class="event-detail">
        <%= image_tag("trophy-solid.svg", class: "h-1") %>
        <h4>Name of the game</h4>
      </div>
      <div class="event-detail">
        <%= image_tag("calendar-alt-regular.svg", class: "h-1") %>
        <h4>Dates of the meetup</h4>
      </div>
      <div class="event-detail">
        <%= image_tag("clock-regular.svg", class: "h-1") %>
        <h4>Meetup direction</h4>
      </div>
    </div>

    <div class="col-md-6">
      <div style="margin-top: 50px;">
        <%= image_tag(@meetup.user.imagelink, class:"avatar") %>
        <span><%= @meetup.user.email.split("@")[0].capitalize %>, your host</span>
      </div>
    </div>
  </div>
</div>

<div
  id="map"
  style="width: 50%;
  height: 600px;
  margin-top: 18px;
  float: right;"
  data-markers="<%= @markers.to_json %>"
></div>

<div class="container">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Title:</strong>
    <%= @meetup.title %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= @meetup.location %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= @meetup.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= @meetup.end_time %>
  </p>

  <p>
    <strong>Game:</strong>
    <%= @meetup.game.name %>
  </p>

  <p>
    <strong>User:</strong>
    <%= @meetup.user.email %>
  </p>

  <% if current_user == @meetup.user %>
  <p>
  <strong>Guest:</strong>
    <% @guests.each do |guest| %>
      <p>
      <%= guest.user.email %>
      <%= guest.current_status %>
      <%= link_to "accept", accept_guest_path(guest), class: "btn btn-primary" %>
      <%= link_to "reject", reject_guest_path(guest), class: "btn btn-primary" %>
    <% end %>
  </p>
  <% elsif !@meetup.booked_by?(current_user) %>
    <%= link_to "book", meetup_book_path(@meetup), class: "btn btn-primary" %>
  <% end %>
  <% @guests.each do |guest| %>
    <% if guest.user == current_user && guest.meetup == @meetup %>
      <strong><%= guest.current_status %></strong>
    <% end %>
    </p>
  <% end %>

  <%= link_to 'Edit', edit_meetup_path(@meetup) %> |
  <%= link_to 'Back', meetups_path %>
</div>


