
<% if @meetup.user.fullname == "Alex-Oliver" %>
<div class="banner" style="background-image: url(<%= asset_path("ddr-2.png") %>)">
</div>
<% else %>
<div class="banner" style="background-image: url(<%= asset_path("room1.png") %>)">
</div>
<% end %>
<div class="container">
  <div class="flex-container">
    <div class="flex-container-left">
      <h1 class=""> <%= @meetup.title.capitalize %> </h1>

      <div class="meetup-tags">
        <div class="event-icons">
          <%= image_tag("trophy-solid.svg", class: "h-1") %>
          <p class="show-page-p"><%= @meetup.game.name %></p>
        </div>
        <div class="event-icons">
          <%= image_tag("gamepad-solid.svg", class: "h-1") %>
          <p class="show-page-p"><%= @meetup.game.platform.name%></p>
        </div>
      </div>
      <br>
      <p2 class=""> <%= @meetup.description %> </p2>
      <br>
      <br>

      <div class="meetup-details">
        <div class="meetup-details-date" style="width: 150px; height: 150px;  margin-right: 15px;">
            <div class="top-flex-for-show-page">
            <div class="left-flex-for-show-page">
              <h1 class="meetup-time2"><%= @meetup.date.strftime("%d") %></h1>
              <h2 class="meetup-time3"><%= @meetup.date.strftime("%b") %></h2>
            </div>
          </div>


        </div>
        <div class="meetup-details-time">
          <div class="event-icons">
            <%= image_tag("calendar-alt-regular.svg", class: "h-1") %>
            <p class="show-page-p"><%= @meetup.date.strftime("%A, %b %d") %></p>
          </div>
          <div class="event-icons">
            <%= image_tag("clock-regular.svg", class: "h-1") %>
            <p class="show-page-p"><%= @meetup.start_time.strftime("%I:%M") %> - <%= @meetup.end_time.strftime("%I:%M") %></p>
          </div>
          <div class="event-host">
              <%= image_tag(@meetup.user.imagelink, class: "avatar avatar-border") %>
              <p class="show-page-p">Hosted by: <span><%= @meetup.user.fullname %></span> </p>
            </div>
          </div>
        </div>

      </div>

    <div class="flex-container-right">

      <div id="map" class="map-details-show" data-markers="<%= @markers.to_json %>">
      </div>
    </div>
  </div>
  <% already_booked = false %>
  <p>Other attendees:</p>
  <div class="row">
    <% @meetup.guests.each do |guest| %>
        <% if current_user == @meetup.user %>
          <%= render "shared/host_card_avatar", guest: guest %>
        <% else %>
          <%= render "shared/card_avatar_profile", guest: guest %>
        <% end %>
      <% already_booked = true if guest.user == current_user %>
    <% end %>
  </div>
</div>

<% if current_user != @meetup.user && !already_booked %>
  <div class="bottom_nav" style="background-color: #3D3D3D;">
    <div class="bottom-nav-content">
      <h2><%= @meetup.title.capitalize %></h2>
    </div>
    <%= link_to meetup_guests_path(@meetup), method: :post do %>
        <div class="rever_button">
          Book now
        </div>
      <% end %>
  </div>
<% end %>



