<div class="banner" style="background-image: url(<%= asset_path("room1.png") %>)">
</div>
<div class="container">
  <div class="flex-container">
    <div class="flex-container-left">
      <h2 class="body-font"> <%= @meetup.title.capitalize %> </h2>

      <p2 class=""> <%= @meetup.description %> </p2>


      <div class="icons-container">
        <div class="event-icons">
          <%= image_tag("trophy-solid.svg", class: "h-1") %>
          <h4><%= @meetup.game.name %></h4>
        </div>
        <div class="event-icons">
          <%= image_tag("gamepad-solid.svg", class: "h-1", class: "h-1") %>
          <h4><%= @meetup.game.platform.name%></h4>
        </div>
        <div class="event-icons">
          <%= image_tag("calendar-alt-regular.svg", class: "h-1") %>
          <h4><%= @meetup.date.strftime("%A, %b %d") %></h4>
        </div>
        <div class="event-icons">
          <%= image_tag("clock-regular.svg", class: "h-1") %>
          <h4><%= @meetup.start_time.strftime("%I:%M") %> - <%= @meetup.end_time.strftime("%I:%M") %></h4>
        </div>
      </div>
        <div row>
          <div class="col-md-1" style="padding-left: 0px; padding-top: 10px;">
            <%= image_tag(@meetup.user.imagelink, class:"avatar avatar-border") %>
          </div>
            <div class="col-md-8" style="padding-left: 23px;  padding-top: 10px;">
             <h4>Hosted by: <span><%= @meetup.user.fullname %></span> </h4>
            </div>
        </div>
    </div>
    <div class="flex-container-right">

      <div id="map" class="map-details-show" data-markers="<%= @markers.to_json %>">
      </div>
    </div>
  </div>

  <p>Other atendees:</p>
  <% @meetup.guests.each do |guest| %>
    <%= render "shared/card_avatar_profile", guest: guest %>
  <% end %>
</div>

<% if current_user != @meetup.user %>
  <div class="bottom_nav" style="background-color: red;">
    <div class="bottom-nav-content">
      <%= image_tag "rever.png", height: 50 %>
      <h2><%= @meetup.title.capitalize %></h2>
      <%= link_to meetup_guests_path(@meetup), method: :post do %>
        <div class="rever_button">
          Book now
        </div>
      <% end %>
    </div>
  </div>
<% end %>



