
  <%= link_to meetup_path(meetup), class: "card-margin" do %>

      <div class="wrapper" style="background: url(<%= asset_url( meetup.game.image_link ) %>) center / cover no-repeat; border-radius: 4px; width: 100%;">
        <div class="data">
          <div class="content">
            <!-- <h1 class="title"><a> <center> <%= meetup.title %> </center></p> -->
              <div class="title">
                <div>
                  <div><%= image_tag meetup.user.imagelink, class: "avatar4" %></div>
                  <p class="button4"> <%= meetup.title %> </p>
                </div>
                <p class="hoster4"> <%= meetup.user.fullname %> </p>
<!--                 <p class="button4"> Know More </p>
 -->              </div>
          </div>
        </div>
      </div>

  <% end %>

