<div class="col-sm-12">
<%= link_to user_profile_path(guest.user) do%>
<div class="card-show-page" style="display: flex;  justify-content:space-between; ">
  <div style="display: flex; justify-content: center; ">
    <%= image_tag guest.user.imagelink, class: "avatar-lg" %>
    <p><%= guest.user.fullname.capitalize %></p>
  </div>

    <div>
      <h4>Status: <span><%= guest.current_status %></span></h4>
    </div>
        <%= link_to 'Accept',  accept_guest_path(guest) , class: "btn btn-primary custom-btn" %>
        <%= link_to 'Reject',  reject_guest_path(guest) , class: "btn btn-primary custom-btn" %>

</div>
<% end %>
</div>
