<!-- Banner Start-->
<div class="home">

  <div class="title-container">
    <div class="background-container">
    <video playsinline autoplay muted loop poster="bg.jpg" id="bgvid">
       <source src="vid.mp4" type="video/mp4">
    </video>
    <h1 class="header-font">Welcome to</h1>
    <h1>
      <em>R</em>
      <em class="planet left">E</em>
      <em>V</em>
      <em class="planet right">E</em>
      <em>R</em>
    </h1>
    </div>
    <p></p>
    <!-- Paragraph -->
    <div class="body-container">
    <p class="line-1 anim-typewriter">What game do you want to play today?</p>
    </div>
  <div class="search-container">
      <%= form_tag meetups_path, {method: :get, :class => 'comment_form'} do %>
      <%= text_field_tag :query,
        params[:query]%>
        <a href=""></a>
      <%= button_tag "",:class => 'fa fa-2x fa-search', placeholder: "Search for a game" %>
      <% end %>
  </div>
</div>
</div>

<div class="container-bottom">
  <p class="container-cards">Browse Hangouts in Your Area</p>
    <% @meetups.each do |meetup| %>
      <div class="col-xs-3">
        <%= render "shared/cards", meetup: meetup %>
      </div>
    <% end %>

  <div
    id="map"
    style="width: 100%;
    height: 600px;
    margin-top: 18px;"
    data-markers="<%= @markers.to_json %>"
  ></div>
</div>
</div>

<!--     <div class="form-group">
        <label>&nbsp;</label>
        <%#= link_to "Continue to Hangout Details",new_meetup_path %>
  <div class="flex-center flex-grow-1" id="left">
    <div class="contentright">
      <h2>Play Now:</h2>
      <%= form_tag meetups_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a hangout near you"
        %>
      <% end %>
    </div>
</form>
  </div>
</div>
</div> -->


       <!--  <label for="checkin">Day?</label>
        <input class="flatpickr" id="checkin" type="text" placeholder="Hangout Date">
    </div>

    <div class="form-group">
        <label for="checkout">Time</label>
        <input class="flatpickr" id="checkout" type="text" placeholder="Hangout Time">
    </div>

    <div class="form-group">
        <label for="room">Number of Guests?</label>
        <select class="form-control" id="room">
            <option>Choose Number of Guests</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>6</option>
        </select>
    </div> -->










