<!-- Banner Start-->
<div class="home">
  <div class= "header-container">
    <div class="title2">Rever</div>
    <div class="subtitle1">Games + Friends + Hangouts</div>
  </div>
    <!-- Paragraph -->
<!--     <div class="body-container">
        <p class="line-1 anim-typewriter">What game do you want to play today?</p>
    </div> -->
  <div class="search-container">
    <%= form_tag meetups_path, {method: :get, :class => 'search-home'} do %>
    <%= text_field_tag :query,
      params[:query],  placeholder: "Search for a game", class: "placeholder-search"%>
      <a href=""></a>
    <%= button_tag "",:class => 'fa fa-2x fa-search'%>
    <% end %>
  </div>
</div>

<div class="block2">
  <p>Live-Look at User Hangouts</p>
  <div class="live-grid">
    <video class="video-1" src="n4s.mp4" autoplay="true" loop="true"></video>
      <p>Alex</p>
      <p>Buenos Aires, Argentina</p>
    <video class="video-2" src="cod.mp4" autoplay="true" loop="true"></video>
      <p>Serghei</p>
      <p>Montreal, Canada</p>
    <video class="video-3" src="fifa.mp4" autoplay="true" loop="true"></video>
      <p>Ali</p>
      <p>Sydney, Australia</p>
    <video class="video-4" src="smash.mp4" autoplay="true" loop="true"></video>
      <p>Elie</p>
      <p>Rome, Italy</p>
  </div>
</div>



</div>
  <div class="container" >
    <div class="container-bottom">
      <p class="container-cards">Browse Hangouts in Your Area</p>
      <% @meetups.each do |meetup| %>
    <div class="col-xs-3">
      <%= render "shared/cards", meetup: meetup %>
    </div>
    <% end %>
    <div
      id="map"
      style="width: 100%;
      height: 600px;
      margin-top: 18px;"
      data-markers="<%= @markers.to_json %>"
    ></div>
  </div>
</div>








 -->
