<!-- Banner Start-->
<div class="home">
  <div class="title-container">
    <h1>Welcome to Rever!</h1>
    <!-- Paragraph -->
    <p>Your gaming neighboorhood_</p>
    <p></p>
    <p></p>
    <p></p>
    <div class="search-container">
        <%= form_tag meetups_path, {method: :get, :class => 'comment_form'} do %>
        <%= text_field_tag :query,
            params[:query]%>
            <a href=""></a>

            <%= button_tag "",:class => 'fa fa-2x fa-search' %>
        <% end %>
    </div>
  </div>
</div>


<div class="container-cards">
  <h2>Open Hangouts in Your Area_</h2>
  <% @meetups.each do |meetup| %>
    <div class="col-xs-3">
      <%= render "shared/cards", meetup: meetup %>
    </div>
  <% end %>
</div>


<!--     <div class="form-group">
        <label>&nbsp;</label>
        <%#= link_to "Continue to Hangout Details",new_meetup_path %>
  <div class="flex-center flex-grow-1" id="left">
    <div class="contentright">
      <h2>Play Now:</h2>
      <%= form_tag meetups_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find a hangout near you"
        %>
      <% end %>
    </div>
</form>
  </div>
</div>
</div> -->


       <!--  <label for="checkin">Day?</label>
        <input class="flatpickr" id="checkin" type="text" placeholder="Hangout Date">
    </div>

    <div class="form-group">
        <label for="checkout">Time</label>
        <input class="flatpickr" id="checkout" type="text" placeholder="Hangout Time">
    </div>

    <div class="form-group">
        <label for="room">Number of Guests?</label>
        <select class="form-control" id="room">
            <option>Choose Number of Guests</option>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>6</option>
        </select>
    </div> -->










